/bidsmapper
bidsmap_suarthreat.json

add-history.txt
bidsmapper_evolved.py
existing_d2b.txt
scrape_evolved.py
add-history_bids.txt
bidsmapperv2.py

scrape_xnat.py
add-history_d2b.txt
bidsmapperv3.py
grayjoh_11_22_2019_8_43_43.csv
sequence_list.txt
bidsmap.json
bidsmapperv4.py
not_in_map_bids.txt
test.py
bidsmap_full.json
d2b-generator.py

not_in_map_d2b.txt
tmp_file
bidsmap_suarthreat.json
d2b-map.json
output.csv
unfiltered.txt
bidsmapper
d2b-template_marsonc.json
projects_list.txt
bidsmapper.py
existing_bids.txt
raw_list.txt